{{ define "main" }}

<section class="content-padding flex-row">
  <div id="shortcuts-container">
    <div><i class="fa-solid fa-list"></i> On this page</div>
    <div id="shortcuts"></div>
  </div>
  <div class="content-container">
    {{ partial "breadcrumbs.html" . }}
    <h1>{{ .Title }}</h1>
    {{ if .Params.Subtitle }}
    <h5 class="subtitle is-5 is-muted">{{ .Params.Subtitle }}</h5>
    {{ end }}

    {{ .Content }}

    <!-- This renders the list of grants -->
    {{ if eq .CurrentSection.Title "Grants" }}
    <div id="grants-list">
      {{- range .Pages.ByDate.Reverse }}
      <div class="grant">
        <div class="title">
          {{ if .Params.pdf_url }}
          <div class="pdf">
            <a href="{{ .Params.pdf_url }}"><img src="/images/pdf-document.svg" width="15px"/></a>
          </div>
          {{ end }}
          <a href="{{ .RelPermalink }}">{{ .Title }}</a>
        </div>
        <div class="authors">
          {{- $N := len .Params.Authors }}
          {{ range $index, $author := .Params.authors }}
          <div class="author">
            {{ . }}
            {{- if (not (eq $index (sub $N 1))) }},{{ end }}
          </div>
          {{ end }}
        </div>
        <div class="date">
          {{ .Date.Format "2006-01-02" }}
        </div>
        <div class="summary">{{ .Summary }}</div>
        <div class="status-label">Status:</div> <div class="status">{{ .Params.status }}</div>
      </div>
      {{- end }}
    </div>
  {{ end }}
</section>

{{ end }}
