{{ define "main" }}

<section class="post content-padding">
  <div class="content-container">
    {{ partial "breadcrumbs.html" . }}
    <h1>{{ .Title }}</h1>
    {{ if .Params.Subtitle }}
    <h5 class="subtitle">{{ .Params.Subtitle }}</h5>
    {{ end }}
    <div class="post-content">
    {{ .Content }}
      <br/>
      <div class="post-list">
        {{ range .Pages }}
        <div class="post-title"><a href="{{ .RelPermalink }}">{{ .Title }}</a></div>
        {{ end }}
      </div>
    </div>
  </div>
  {{ partial "shortcuts.html" . }}
</section>

{{ end }}
