{{ $isMeta := (hasPrefix (lower .Title) "meta") }}
<div class="spec-meta">
  <table>
    {{ $meta_fields := (slice "author" "date" "discussion" "adopted-by") }}
    {{- range $attr := $meta_fields -}}
      {{ $val := $.Params.Get $attr }}
      {{ $attr := strings.TrimPrefix "spec_" $attr }}
      {{- if eq $attr "author" }}
        {{ $attr = "authors" }}
        {{- if not (reflect.IsSlice $val) }}
          {{ $val = slice $val }}
        {{ end }}
      {{- else if eq $attr "date" }}
        {{ $val = $val.Format "2006-01-02" }}
      {{- end -}}
      {{ if not (and $isMeta (eq $attr "adopted-by")) }}
        <tr class="field">
          <td class="field-name">
            {{ $attr | humanize }}:
          </td>
          {{- if (reflect.IsSlice $val) -}}
            {{ $len := len $val }}
            <td class="field-value">
            {{- range $idx, $el := $val }}
              {{ if eq $attr "adopted-by" }}
                <a href="{{ relref . (printf "core-projects/%s" $el) }}">{{ $el }}</a>
              {{ else }}
                {{ $el }}
              {{ end }}
              {{ if not (eq (add $idx 1) $len) -}}
                <br/>
              {{ end }}
            {{ end }}
            </td>
          {{- else }}
            <td class="field-value">
              {{ $val | markdownify }}
            </td>
          {{- end -}}
        </tr>
      {{- end -}}
    {{- end -}}

    {{ if $isMeta }}
      <tr>
        <td class="field-name">Core Projects:</td>
        <td class="field-value">
          {{ $ab_projects := (.Site.GetPage "specs/core-projects").Pages }}
          {{ $len := len $ab_projects }}
          {{ range $idx, $page := $ab_projects }}
            <a href="{{ relref . (printf "specs/core-projects/%s" .File.BaseFileName) }}">{{ .File.BaseFileName }}</a>
            {{ if not (eq (add $idx 1) $len) -}}
              <br/>
            {{ end }}
          {{ end }}
        </td>
      </tr>
    {{- end }}
  </table>
</div>
