<div class="spec-meta">
  {{- range $attr, $val := .Params }}
    {{ $extra_fields := (slice "author" "date" "discussion") }}
    {{ if (or (hasPrefix $attr "spec") (in $extra_fields $attr)) }}
      {{ $attr := strings.TrimPrefix "spec_" $attr }}
      {{ if eq $attr "author" }}
        {{ $attr = "authors" }}
        {{ if not (reflect.IsSlice $val) }}
          {{ $val = slice $val }}
        {{ end }}
      {{ end }}
      <div class="field">
        <div class="field-name">
          {{ $attr | humanize }}:
        </div>
        {{ if (reflect.IsSlice $val) }}
        <div class="field-list">
          {{ range $val }}
          <div class="field-value">
            {{ . }}
          </div>
          {{ end }}
        {{ else }}
          <div class="field-value">
            {{ $val | markdownify }}
          </div>
        {{ end }}
      </div>
    {{ end }}
  {{- end -}}
</div>
