{{ $page := . }}
{{ $isMeta := gt (len (split .Path "/")) 2 }}
<div class="spec-meta">
  <table>
    {{ $meta_fields := (slice "author" "discussion" "history" "endorsed-by") }}
    {{- range $attr := $meta_fields -}}
      {{ $val := $.Params.Get $attr }}
      {{ $attr := strings.TrimPrefix "spec_" $attr }}
      {{- if eq $attr "author" }}
        {{ $attr = "authors" }}
        {{- if not (reflect.IsSlice $val) }}
          {{ $val = slice $val }}
        {{ end }}
      {{- else if eq $attr "date" }}
        {{ $val = $val.Format "2006-01-02" }}
      {{- else if (eq $attr "history") }}
        {{ $path := index (split $page.File "specs/") 1 }}
        {{ $link := printf "https://github.com/scientific-python/specs/commits/main/%s" $path }}
        {{ $val = printf "<a href=\"%s\">%s</a>" $link $link }}
      {{- end -}}
      {{ if not (and $isMeta (in (slice "endorsed-by" "discussion" ) $attr)) }}
        <tr class="field">
          <td class="field-name">
            {{ $attr | humanize }}:
          </td>
          {{- if (reflect.IsSlice $val) -}}
            {{ $len := len $val }}
            <td class="field-value">
            {{- range $idx, $el := $val }}
              {{ if eq $attr "endorsed-by" }}
                <a href="{{ relref $.Page.CurrentSection (printf "core-projects/%s" $el) }}">{{ $el }}</a>
              {{- else }}
                {{ $el }}
              {{- end -}}
              {{- if not (eq (add $idx 1) $len) -}},{{ end }}
            {{ end }}
            </td>
          {{- else }}
            <td class="field-value">
              {{ $val | markdownify }}
            </td>
          {{- end -}}
        </tr>
      {{- end -}}
    {{- end -}}
  </table>
</div>
