{{ define "main" }}

<main class="main list" role="main">
  <table class="spec__table">
    <thead>
      <tr>
        <td>Title</td><td>Adopted By</td>
      </tr>
    </thead>
    <div class="content">
      {{- (.Site.GetPage "spec_overview.md").Content }}
    </div>
    {{- range $.Paginator.Pages.ByTitle }}
      {{- if and (.Title) (not (hasPrefix .Title "SPEC X")) (not (hasPrefix (lower .Title) "meta")) }}
        <tr class="spec">
          <td class="spec__title">
            <a href="{{ .RelPermalink }}">
              {{- .Title }}
            </a>
          </td>
          <td class="spec__status">
            {{- if .Params.adopted_by }}
            {{ len .Params.adopted_by }}
            {{ else }}
              —
            {{ end -}}
          </td>
        </tr>
      {{ end }}
    {{- end }}
  </table>
</main>
{{ partial "pagination.html" . }}
{{ end }}
