{{ define "main" }}

<section class="content-padding flex-row">
  <div id="shortcuts-container">
    <div><i class="fa-solid fa-list"></i> On this page</div>
    <div id="shortcuts"></div>
  </div>
  <div class="content-container">
    {{ partial "breadcrumbs.html" . }}
    <h1>{{ .Title }}</h1>
    {{ if .Params.Subtitle }}
    <h5 class="subtitle is-5 is-muted">{{ .Params.Subtitle }}</h5>
    {{ end }}
    {{ .Content }}
    {{ if eq .CurrentSection.Title "Scientific Python Ecosystem Coordination" }}
    {{ partial "specs/spec_list.html" . }}
    {{ end }}
  </div>
</section>

{{ end }}
