table.spec__table thead {
  font-size: 1.2rem;
  font-weight: bold;
}

.spec__title {
  font-size: 1.2rem;
}

.spec__status {
  width: 10rem;
}

.readcode {
  position: relative;
}

.readcode-download {
  position: absolute;
  right: 1rem;
  top: 0.5rem;
  text-align: right;
}

.readcode-download a {
  color: #efefef;
  font-size: 1rem;
}

.readcode-download a:hover {
  color: #efefef;
}

.readcode-code {
}

.notice {
  margin-top: 0rem;
  margin-bottom: 0rem;
  color: #666;
}

.notice-type {
  font-size: 1rem;
  padding: 0.5rem 1rem 0.5rem 1rem;
  width: 100%;
  color: white;
  display: inline-block;
}

.notice-content {
  padding: 1rem 1rem 0.1rem 1rem;
}

.note-notice .notice-type {
  background: #6AB0DE;
}
.note-notice .notice-content {
  background: #E7F2FA;
}

.info-notice .notice-type {
  background: #F0B37E;
}
.info-notice .notice-content {
  background: #FFF2DB;
}

.warning-notice .notice-type {
  background: rgba(217, 83, 79, 0.8);
}
.warning-notice .notice-content {
  background: #FAE2E2;
}

.tip-notice .notice-type {
  background: rgba(92, 184, 92, 0.8);
}
.tip-notice .notice-content {
  background: #E6F9E6;
}

.menu-spacer {
  margin-left: auto;
}

.widget-search__form {
  background: #2a2a2a;
}

.widget-search__field {
  height: 1.6rem;
}

.gallery {
  display: flex;
}

.team-member {
    display: inline-block;
    padding: 1rem;
    margin: 0.25rem;
    width: 7rem;
    text-align: center;
    vertical-align: top;
}

.team-member-photo {
    display: block;
}

.team-member-photo img {
    width: 60px;
    border-radius: 50%;
    margin-bottom: 0.5rem;
}

.team-member-name {
    font-weight: bold;
}

.team-member-handle {
    display: none;
}
