{{- $root := . -}}
<div class="sd-card sd-mb-3 sd-shadow-sm">
  <div class="sd-card-body">
    {{ $meta_fields := (slice "homepage" "repository" "pypi" "libraries-io" "license" "license-type") }}
    <dl class="field-list">
    {{- range $attr := $meta_fields -}}
      {{ $val := index $.Params $attr }}
      <dt class="field-odd">
        {{ $attr | humanize }}:
      </dt>
      <dd class="field-odd">
        {{ $val | markdownify }}
      </dd>
    {{- end -}}
    </dl>
  </div>
</div>
<div class="article-content">
  <h2>Endorsed SPECs</h1>
  {{- $specs := where $.Site.Pages "Section" "specs" -}}
  <ul class="endorsed-specs-list">
    {{- range ($specs.ByParam "number") -}}
      {{- if not (in (lower .Title) "meta") -}}
        {{- if in ( index .Params "endorsed-by" ) $root.File.BaseFileName }}
          <li><a href="{{ .RelPermalink }}">{{ .Title }}</a></li>
        {{- end -}}
      {{- end -}}
    {{- end -}}
  </ul>
</div>
