{{- $root := . -}}

{{/* Create field list */}}
{{- $fieldList := slice -}}
{{- range $term := slice "homepage" "repository" "pypi" "libraries-io" "license" "license-type" -}}
  {{- $def := index $.Params $term | markdownify }}
  {{- $fieldList = $fieldList | append (dict "term" ( $term | humanize )  "def" $def ) -}}
{{- end -}}
{{- $projectMetaBody := partial "_elements/field-list.html" (dict "entries" $fieldList) -}}

{{/* Put the project meta data in a card */}}
{{- $card := dict "body" $projectMetaBody -}}
{{- partial "_elements/card.html" (dict "card" $card) -}}

<h2>Endorsed SPECs</h1>
{{- $specs := where $.Site.Pages "Section" "specs" -}}
<ul class="endorsed-specs-list">
  {{- range ($specs.ByParam "number") -}}
    {{- if not (in (lower .Title) "meta") -}}
      {{- if in ( index .Params "endorsed-by" ) $root.File.BaseFileName }}
        <li><a href="{{ .RelPermalink }}">{{ .Title }}</a></li>
      {{- end -}}
    {{- end -}}
  {{- end -}}
</ul>
