<main class="main list content" role="main">
  <table class="spec__table">
    <thead>
      <tr>
        <td>Title</td><td>Endorsed By</td>
      </tr>
    </thead>
    <div class="content">
      {{- (.Site.GetPage "spec_overview.md").Content }}
    </div>
    {{- range $.Paginator.Pages.ByTitle }}
      {{- if and (hasPrefix .Title "SPEC") (in .Title "—") }}
        <tr class="spec">
          <td class="spec__title">
            <a href="{{ .RelPermalink }}">
              {{- .Title }}
            </a>
          </td>
          <td class="spec__status">
            {{- $endorsed_by := .Params.Get "endorsed-by" }}
            {{- if $endorsed_by }}
              {{- $N := len $endorsed_by }}
              {{- range $idx, $el := $endorsed_by  }}
            <a href="{{ relref $.Page.CurrentSection (printf "core-projects/%s" $el) }}">{{ $el }}</a>
                {{- if not (eq $idx (sub $N 1)) -}}
                ,
                {{- end }}
              {{ end }}
            {{ else }}
              —
            {{ end -}}
          </td>
        </tr>
      {{ end }}
    {{- end }}
  </table>
</main>

{{ partial "pagination.html" . }}
