<main class="main list content" role="main">
  <table class="spec__table">
    <thead>
      <tr>
        <td>Title</td><td>Adopted By</td>
      </tr>
    </thead>
    <div class="content">
      {{- (.Site.GetPage "spec_overview.md").Content }}
    </div>
    {{- range $.Paginator.Pages.ByTitle }}
      {{ $isMeta := (hasPrefix (lower .Title) "meta") }}
      {{ $isExample := (hasPrefix .Title "SPEC X") }}
      {{- if and (hasPrefix .Title "SPEC") (not $isExample) (not $isMeta) }}
        <tr class="spec">
          <td class="spec__title">
            <a href="{{ .RelPermalink }}">
              {{- .Title }}
            </a>
          </td>
          <td class="spec__status">
            {{- $adopted_by := .Params.Get "adopted-by" }}
            {{- if $adopted_by }}
              {{- $N := len $adopted_by }}
              {{- range $idx, $el := $adopted_by  }}
            <a href="{{ relref $.Page.CurrentSection (printf "core-projects/%s" $el) }}">{{ $el }}</a>
                {{- if not (eq $idx (sub $N 1)) -}}
                ,
                {{- end }}
              {{ end }}
            {{ else }}
              —
            {{ end -}}
          </td>
        </tr>
      {{ end }}
    {{- end }}
  </table>
</main>

{{ partial "pagination.html" . }}
