{{- $filename := .File.ContentBaseName -}}
{{- $endorsed := false -}}

{{/* Create field list */}}
{{- $fieldList := slice -}}
{{- range $term := slice "author" "discussion" "history" "endorsed-by" -}}
  {{- $def := index $.Params $term }}
  {{- if eq $term "author" }}
    {{- $term = "authors" }}
    {{- if not (reflect.IsSlice $def) }}
      {{- $def = slice $def }}
    {{- end }}
    {{- $def = delimit $def ", " }}
  {{- else if (eq $term "discussion") }}
    {{- $def = $def | markdownify }}
  {{- else if (eq $term "history") }}
    {{- $def = printf "https://github.com/scientific-python/specs/commits/main/%s" $filename | markdownify }}
  {{- else if and (eq $term "endorsed-by") (reflect.IsSlice $def) }}
    {{- $def = apply $def "printf" "[%s](../core-projects/%s)" "." "." }}
    {{- $def = delimit $def ", " }}
    {{- $def = $def | markdownify }}
    {{- if ge (len $def) 1 -}}
      {{ $endorsed = true }}
    {{- end -}}
  {{- end }}
  {{- $fieldList = $fieldList | append (dict "term" ( $term | humanize )  "def" $def ) -}}
{{- end -}}
{{- $specMetaBody := partial "_elements/field-list.html" (dict "entries" $fieldList) -}}

{{/* Add draft warning */}}
{{- if (index $.Params "is-draft") }}
  {{- $title := "attention" -}}
  {{- $body := "This is a draft document." -}}
  {{- $admonition := partial "_elements/admonition.html" (dict "title" $title "body" $body) -}}
  {{- $specMetaBody = printf "%s %s" $specMetaBody $admonition -}}
{{- end -}}

{{/* Put the SPEC meta data in a card */}}
{{- $card := dict "body" $specMetaBody -}}
{{- partial "_elements/card.html" (dict "card" $card) -}}
