<table class="spec__table">
  <thead>
    <tr>
      <td>Title</td><td>Endorsed By</td>
    </tr>
  </thead>
  {{- range $.Paginator.Pages.ByTitle }}
    {{- if and (hasPrefix .Title "SPEC") (in .Title "—") }}
      <tr class="spec">
        <td class="spec__title">
          <a href="{{ .RelPermalink }}">
            {{- .Title }}
          </a>
        </td>
        <td class="spec__status">
          {{- $endorsed_by := .Params.Get "endorsed-by" }}
          {{- $N := len (or $endorsed_by "") }}
          {{- if ge $N 2 }}
            {{- range $idx, $el := $endorsed_by  }}
              {{ $project_page := $.GetPage (printf "core-projects/%s" $el) }}
              {{ $url := $project_page.RelPermalink }}
              <a href="{{ $url }}">
                <img title="{{ $project_page.Title }}" src="{{ $project_page.Params.avatar }}" class="endorse-icon"/>
              </a>
            {{ end }}
          {{ else }}
            DRAFT
          {{ end -}}
        </td>
      </tr>
    {{ end }}
  {{- end }}
</table>
