{{ define "main" }}

{{ $pageLink := .Permalink }}

<section class="content-padding flex-row">
    <div class="content-container">
        <div class="columns">
            <div class="column is-centered-tablet-portrait">
                <h1 class="title section-title">{{ .Title }}</h1>
                <h5 class="subtitle">{{ .Params.Subtitle }}</h5>
                <div class="divider"></div>
            </div>
        </div>

        {{ .Content }}

        <div class="calendar-list">
          {{ range $key, $value := $.Site.Data.calendars }}
          <div class="calendar"><a href="{{ $key }}.ics">{{ .name }}</a>
            <img
              class="calendar-copy"
              src="/images/content_copy.svg"
              onclick="navigator.clipboard.writeText('{{ printf "%s%s.ics" $pageLink $key }}');"
            />
            {{ range .events }}
            <div class="calendar-event">{{ .summary }}</div>
            {{ end }}
          </div>
          {{ end }}
        </div>

        <br>
        <script src="https://cdn.jsdelivr.net/npm/vega@5"></script>
        <script src="https://unpkg.com/ical.js/dist/ical.es5.min.cjs"></script>
        <script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.18/index.global.min.js'></script>

        <!-- This is a temporary workaround for https://github.com/fullcalendar/fullcalendar/issues/7456

             PR proposed in https://github.com/fullcalendar/fullcalendar/pull/7450 was compiled and is sourced
             below as `icalendar.js`

             Build procedure:

             0. Clone git@github.com:fullcalendar/fullcalendar.git
             1. pnpm install
             2. pnpm run build
             3. Unzip resulting archive in ./dist
             4. Copy /dist/fullcalendar-6.1.19/packages/icalendar/index.global.js to static/js-non-bundled/icalendar.js -->

        <!-- <script src="https://cdn.jsdelivr.net/npm/@fullcalendar/icalendar@6.1.19/index.global.min.js"></script> -->
        <script src="/js-non-bundled/icalendar.js"></script>

        <script>
          document.addEventListener('DOMContentLoaded', function() {
            var cal_colors = vega.scheme('category10');
            var community_calendar = document.getElementById('community-calendar');
            var calendar = new FullCalendar.Calendar(community_calendar, {
              aspectRatio: 1,
              timeZone: 'local',
              initialView: 'timeGridWeek',
              headerToolbar: {
                left: "prev,next today",
                center: "title",
                right: "dayGridMonth,timeGridWeek,listWeek",
              },
              eventSources: [
                {{- range $key, $value:= $.Site.Data.calendars }}
                {
                  url: '{{ $key }}.ics',
                  format: 'ics',
                  backgroundColor: cal_colors.shift(),
                },
                {{- end }}
              ],
              eventClick: function(info) {
                info.jsEvent.preventDefault();
                alert('Event: ' + info.event.title + '\n' + info.event.extendedProps.description + '\n' + 'URL: ' +info.event.url);
              },
              eventDisplay: 'block',
            });
            calendar.render();
          });

        </script>
        <div id='community-calendar'></div>

        <h3 id="subscribe-google-calendar">Google Calendar</h3>
        Instructions from <a href="https://support.google.com/calendar/answer/37100?hl=en&co=GENIE.Platform%3DDesktop">the Google Calendar docs</a>:
        <ol>
          <li>Open Google Calendar</li>
          <li>On the left, next to "Other calendars," click Add Add other calendars and then From URL.</li>
          <li>Enter the calendar's address.</li>
          <li>Click Add calendar. The calendar appears on the left, under "Other calendars."</li>
        </ol>
        It may take up to 12 hours for calendar changes to propagate.
    </div>
  </div>
  <div id="shortcuts-container">
    <div id="shortcuts">
      <div id="shortcuts-header"><i class="fa-solid fa-list"></i> On this page</div>
    </div>
  </div>
</section>

{{ end }}
