{{ define "main" }}

{{ $pageLink := .Permalink }}

<section class="content-padding flex-row">
    <div class="shortcuts-container">
        <div class="shortcuts-title">
            <img src="/images/icons/list-bulleted.svg"/>
            On this page
        </div>
        <div id="shortcuts"></div>
    </div>
    <div class="content-container">
        <div class="columns">
            <div class="column is-centered-tablet-portrait">
                <h1 class="title section-title">{{ .Title }}</h1>
                <h5 class="subtitle is-5 is-muted">{{ .Params.Subtitle }}</h5>
                <div class="divider"></div>
            </div>
        </div>

        {{ .Content }}

        <div class="calendar-list">
          {{ range $key, $value := $.Site.Data.calendars }}
          <div class="calendar"><a href="{{ $key }}.ics">{{ .name }}</a>
            <img
              class="calendar-copy"
              src="/images/content_copy.svg"
              onclick="navigator.clipboard.writeText('{{ printf "%s%s.ics" $pageLink $key }}');"
            />
            {{ range .events }}
            <div class="calendar-event">{{ .summary }}</div>
            {{ end }}
          </div>
          {{ end }}
        </div>

        <br>
        <div id='timezone'></div>

        <br>
        <script src="https://cdn.jsdelivr.net/npm/vega@5"></script>
        <link href='https://cdn.jsdelivr.net/npm/fullcalendar@5.11.0/main.min.css' rel='stylesheet' />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/ical.js/1.4.0/ical.min.js"></script>
        <script src='https://cdn.jsdelivr.net/npm/fullcalendar@5.11.0/main.min.js'></script>
        <script src="https://cdn.jsdelivr.net/npm/@fullcalendar/icalendar@5.11.0/main.global.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/@fullcalendar/google-calendar@6.1.9/index.global.min.js"></script>

        <script>
          document.addEventListener('DOMContentLoaded', function() {
            var cal_colors = vega.scheme('category10');
            var community_calendar = document.getElementById('community_calendar');
            var calendar = new FullCalendar.Calendar(community_calendar, {
                aspectRatio: 1,
                timeZone: 'local',
                initialView: 'dayGridMonth',
                headerToolbar: {
                  left: "prev,next today",
                  center: "title",
                  right: "dayGridMonth,timeGridWeek,listWeek",
                },
                eventSources: [
                {{ range $key, $value := $.Site.Data.calendars }}
                    {
                        url: '{{ $key }}.ics',
                        format: 'ics',
                        color: cal_colors.shift(),
                    },
                {{ end }}
                ],
                eventClick: function(info) {
                    info.jsEvent.preventDefault();
                    alert('Event: ' + info.event.title + '\n' + info.event.extendedProps.description + '\n' + 'URL: ' +info.event.url);
                },
                eventDisplay: 'block',
            });
            calendar.render();
          });
          document.getElementById('timezone').innerHTML = "All times shown in " + Intl.DateTimeFormat().resolvedOptions().timeZone + ".";
        </script>
        <div id='community_calendar'></div>

        <h3 id="subscribe-google-calendar">Google Calendar</h3>
        Instructions from <a href="https://support.google.com/calendar/answer/37100?hl=en&co=GENIE.Platform%3DDesktop">the Google Calendar docs</a>:
        <ol>
          <li>Open Google Calendar</li>
          <li>On the left, next to "Other calendars," click Add Add other calendars and then From URL.</li>
          <li>Enter the calendar's address.</li>
          <li>Click Add calendar. The calendar appears on the left, under "Other calendars."</li>
        </ol>
        It may take up to 12 hours for calendar changes to propagate.
    </div>
  </div>
</section>

{{ end }}
