table.spec__table {
  width: 100%;
  margin-top: 1.2rem;
}

table.spec__table thead {
  font-size: 1.2rem;
  font-weight: bold;
}

.spec__title {
  font-size: 1.2rem;
}

.spec__title a {
  font-size: 1rem;
  font-weight: bold;
}

.spec__status {
  width: 20rem;
}

.spec__status a {
  font-weight: normal;
}

.readcode {
  position: relative;
}

.readcode-download {
  position: absolute;
  right: 1rem;
  top: 0.5rem;
  text-align: right;
}

.readcode-download a {
  color: #efefef;
  font-size: 1rem;
}

.readcode-download a:hover {
  color: #efefef;
}

.readcode-code {
}

.menu-spacer {
  margin-left: auto;
}

.widget-search__form {
  background: #2a2a2a;
}

.widget-search__field {
  height: 1.6rem;
}

.spec-meta {
  background: #eee;
  padding: 0.5rem;
  display: inline-block;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
}

.spec-meta table {
  margin-bottom: 0;
}

.spec-meta .field {
}

.spec-meta .field-name {
  width: 1rem;
  white-space: nowrap;
  font-weight: bold;
  vertical-align: top;
}

.spec-meta .field-value {
}

.spec-meta .field-value a {
  color: #1e87f0;
  font-weight: bold;
}

.endorsed-specs {
  padding-top: 1rem;
  font-size: 0.9rem;
}

.endorsed-specs-list {
  margin-left: 1rem;
  list-style-type: none;
}

.endorsed-specs-list a {
  color: #1e87f0;
  font-weight: bold;
}

.endorse-icon {
  width: 1.5rem;
  margin-right: 0.25rem;
}

.team-section {
  padding-top: 1.5rem;
  padding-bottom: 1.25rem;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
}

.gallery .entry {
  padding: 1rem;
  margin: 0.25rem;
  width: 11rem;
  text-align: center;
  vertical-align: top;
}

.gallery .photo {
  display: block;
}

.gallery .photo img {
  width: 60px;
  border-radius: 50%;
  margin-bottom: 0.5rem;
}

.gallery .name {
  font-weight: bold;
}

.gallery .project {
  display: block;
  font-size: 0.8rem;
  font-style: italic;
}

.calendar-list .calendar {
  padding-bottom: 1rem;
}

.calendar-list .calendar:last-of-type {
  padding-bottom: 0rem;
}

.calendar-list .calendar-copy {
  height: 1rem;
  cursor: pointer;
  padding-left: 0.25rem;
}

.calendar-list .calendar-event {
  padding-left: 1rem;
  font-size: 0.8rem;
}

.grant {
  margin-bottom: 1rem;
  background: #9dcde4;
  padding: 1rem;
}

.grant .title {
  font-size: 1.25rem;
  margin-bottom: 0.5rem;
}

.grant .title .pdf {
  display: inline;
}

.grant .title a {
  color: #004811;
  text-decoration: none;
}

.grant .authors {
  display: inline;
}

.grant .author {
  display: inline;
  font-weight: bold;
}

.grant .date::before {
  content: "·";
}

.grant .date {
  display: inline;
}

.grant .summary {
  padding-top: 0.5rem;
  font-style: italic;
}

.grant .status-label {
  display: inline-block;
  font-weight: bold;
  padding-top: 0.75rem;
}

.grant .status {
  display: inline;
}
