{{- $highlightColor := .Site.Params.style.vars.highlightColor | default (.Site.Params.highlightColor | default "#e22d30") -}}
{{- $menuHighlightColor := .Site.Params.style.vars.menuHighlightColor | default (.Site.Params.highlightColor | default "#e22d30") -}}

table.spec__table thead {
  font-size: 1.2rem;
  font-weight: bold;
}

.spec__title {
  font-size: 1.2rem;
}

.spec__title a {
  font-size: 1.0rem;
  font-weight: bold;
}

.spec__status {
  width: 20rem;
}

.spec__status a {
  font-weight: normal;
}

.readcode {
  position: relative;
}

.readcode-download {
  position: absolute;
  right: 1rem;
  top: 0.5rem;
  text-align: right;
}

.readcode-download a {
  color: #efefef;
  font-size: 1rem;
}

.readcode-download a:hover {
  color: #efefef;
}

.readcode-code {
}

.notice {
  margin-top: 0rem;
  margin-bottom: 0rem;
  color: #666;
}

.notice-type {
  font-size: 1rem;
  font-weight: bold;
  padding: 0rem 1rem 0rem 1rem;
  width: 100%;
  color: white;
  display: inline-block;
}

.notice-content {
  padding: 0.5rem 1rem 0.5rem 1rem;
}

.note-notice .notice-type {
  background: #6AB0DE;
}
.note-notice .notice-content {
  background: #E7F2FA;
}

.info-notice .notice-type {
  background: #F0B37E;
}
.info-notice .notice-content {
  background: #FFF2DB;
}

.warning-notice .notice-type {
  background: rgba(217, 83, 79, 0.8);
}
.warning-notice .notice-content {
  background: #FAE2E2;
}
.tip-notice .notice-type {
  background: rgba(92, 184, 92, 0.8);
}

.tip-notice .notice-content {
  background: #E6F9E6;
}

.menu-spacer {
  margin-left: auto;
}

.widget-search__form {
  background: #2a2a2a;
}

.widget-search__field {
  height: 1.6rem;
}

.spec-meta {
  background: #EEE;
  padding: 0.5rem;
  display: inline-block;
}

.spec-meta table {
  margin-bottom: 0;
}

.spec-meta .field {
}

.spec-meta .field-name {
  width: 1rem;
  white-space: nowrap;
  font-weight: bold;
  vertical-align: top;
}

.spec-meta .field-value {
}

.spec-meta .field-value a {
  color: {{ $highlightColor }};
  font-weight: bold;
}

.gallery {
  display: flex;
}

.team-member {
    display: inline-block;
    padding: 1rem;
    margin: 0.25rem;
    width: 11rem;
    text-align: center;
    vertical-align: top;
}

.team-member-photo {
    display: block;
}

.team-member-photo img {
    width: 60px;
    border-radius: 50%;
    margin-bottom: 0.5rem;
}

.team-member-name {
    font-weight: bold;
}

.team-member-project {
  display: block;
  font-size: 0.8rem;
  font-style: italic;
}

.endorsed-specs {
  padding-top: 1rem;
  font-size: 0.9rem;
}

.endorsed-specs-list {
  margin-left: 1rem;
  list-style-type: none;
}

.endorsed-specs-list a {
  color: {{ $highlightColor }};
  font-weight: bold;
}

code {
  color: #004811;
}

# override menu from themes/mainroad/assets/css/style.css
:focus > .menu__btn-title {
        box-shadow: inset 0 0 1px 3px {{ $menuHighlightColor }};
}
.js .menu__btn--active {
        color: {{ $menuHighlightColor }};
}
.menu__item:hover {
        background: {{ $menuHighlightColor }};
}
.menu__item--active {
        background: {{ $menuHighlightColor }};
}
@media screen and (min-width: 767px) {
        .menu {
                border-bottom: 5px solid {{ $menuHighlightColor }};
        }

        .menu__btn {
                display: none;
        }

        .menu__list,
        .js .menu__list {
                position: relative;
                display: -webkit-flex;
                display: flex;
                -webkit-flex-wrap: wrap;
                flex-wrap: wrap;
                visibility: visible;
                border: 0;
                -webkit-transform: none;
                transform: none;
        }

        .menu__item {
                border-left: 1px solid rgba(255, 255, 255, .1);
        }
}

ul, li {
  list-style-position: inside;
  padding-bottom: 0.25rem;
}

ul + h2 {
  padding-top: 1rem;
}

dt,
dd {
  list-style-type: none;
}
