<div class="project">
  <div class="team-member">
     <a href="{{ relref $.Page.CurrentSection (printf "%s.md" (.Get "name")) }}" class="team-member-name">
        <div class="team-member-photo">
           <img
             src="{{ default (relURL "/images/avatar.png") (.Get "avatar") }}"
             loading="lazy"
             alt="Avatar picture of @{{ .Get "github_handle" }}"
           />
        </div>
        {{ .Get "name" }}
     </a>
     {{ $projects := split (.Get "projects") " "}}
     {{ range $projects }}
     <div class="team-member-project">{{ . }}</div>
     {{ end }}
   </div>
</div>
